//colors
$background: #1F2024;
$text: #A4A4A6;
$hover: #2BD988;
//#F22E2E #F26716 #F2A20C #F2E30C


//default sets
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  color: $text;
  font-size: 10px;
}
a {
  text-decoration: none;
  color: $text;
}

//styles
body {
  height: 100vh;
  background-color: $background;
  font-size: 1.5rem;
}
h1 {
  padding: 1rem;
  width: 100vw;
  color: $hover;
  font-size: 3rem;
  text-align: center;
}
.body {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: calc(100vh - 8.5rem);
}
.game-board {
  display: grid;
  grid-template-rows: repeat(51, 1fr);
  grid-template-columns: repeat(51, 1fr);
  margin: 0 2rem;
  width: calc(100vh - 9.5rem);
  height: calc(100vh - 9.5rem);
  border: .5rem solid #F2E30C;
  border-radius: 1rem;
}
.snake-body-part {
  background-color: #F22E2E;
  border: .1rem solid $text;
}
.point {
  background-color: #F2A20C;
  border: .1rem solid $text;
}

.game-control {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
}
button {
  padding: 1rem 2rem;
  color: $text;
  background-color: transparent;
  border: 0.2rem solid $text;
  border-radius: 1rem;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
}
button:hover {
  color: $hover;
  border-color: $hover;
}
#up:hover img {
  content: url("https://img.icons8.com/ios-filled/50/2BD988/collapse-arrow.png");
}
#left:hover img {
  content: url("https://img.icons8.com/ios-filled/50/2BD988/back.png");
}
#right:hover img {
  content: url("https://img.icons8.com/ios-filled/50/2BD988/forward--v1.png");
}
#down:hover img {
  content: url("https://img.icons8.com/ios-filled/50/2BD988/expand-arrow--v1.png");
}
button img {
  height: 100%;
}

.help {
  font-size: 1rem;
  line-height: 2rem;
}

.difficulty {
  display: flex;
  align-items: center;
  height: 120px;
}
.choose {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2rem;
  height: 120px;
}
.score {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.control {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 250px;
  height: 190px;
  gap: 5px;
}
.control button {
  width: 80px;
  height: 60px;
}
#up {
  grid-column-start: 2;
}
#left {
  grid-row-start: 2;
}
#play {
  grid-column-start: 2;
}
#down {
  grid-column-start: 2;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}
a:hover {
  color: $hover;
}

@media screen and (max-width: 1023px) {

  .help {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .body {
    flex-direction: column;
    align-items: center;
  }

  .game-board {
    width: calc(100vh - 320px);
    height: calc(100vh - 320px);
  }

  button {
    padding: 1rem 2rem;
  }

  .game-control {
    width: 100%;
  }
  .difficulty {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .choose {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem 0;
    width: 100%;
    height: auto;
  }
  .score {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .control {
    margin: 1rem 0;
    width: 190px;
    height: 130px;
  }
  .control button {
    width: 60px;
    height: 40px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 5px;
  }
}


