//colors
$background: #1F2024;
$text: #A4A4A6;
$hover: #2BD988;

//default sets & designs
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  color: $text;
  font-size: 10px;
}
a {
  text-decoration: none;
  color: $text;
}
button {
  color: $text;
  background-color: transparent;
  border: 2px solid $text;
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
}
button:hover {
  color: $hover;
  border-color: $hover;
}

//background
body {
  background-color: $background;
}

//header
h1 {
  padding: 1rem;
  width: 100vw;
  color: $hover;
  font-size: 2rem;
  text-align: center;
}

//body
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100vh - 70px); //Fallback for browsers that do not support Custom Properties
  height: calc(var(--vh, 1vh) * 100 - 70px);
}

//game board
.game-board {
  display: grid;
  grid-template-rows: repeat(51, 1fr);
  grid-template-columns: repeat(51, 1fr);
  width: 100vw;
  height: 100vw;
  border: 5px solid #F2E30C;
}
.snake-body-part {
  background-color: #F22E2E;
  border: 1px solid $text;
}
.point {
  background-color: #F2A20C;
  border: 1px solid $text;
}

//game control
.game-control {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

  //help
  .help {
    display: none;
  }

  //difficulty

    //score
    .score {
      display: flex;
      justify-content: space-evenly;
      margin: 10px 0;
      width: 100vw;
    }

    .br {
      display: none;
    }

    //choose
    .choose {
      display: flex;
      justify-content: space-evenly;
      width: 100vw;
    }
    .choose button {
      padding: 5px 10px;
    }

  //control
  .control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    margin: 10px 0;
  }
  .control button {
    width: 50px;
    height: 50px;
  }
  #up {
    grid-column-start: 2;
  }
  #left {
    grid-row-start: 2;
  }
  #play {
    grid-column-start: 2;
  }
  #down {
    grid-column-start: 2;
  }
  button img {
    width: 80%;
  }
  #up:hover img {
    content: url("https://img.icons8.com/ios-filled/50/2BD988/collapse-arrow.png");
  }
  #left:hover img {
    content: url("https://img.icons8.com/ios-filled/50/2BD988/back.png");
  }
  #right:hover img {
    content: url("https://img.icons8.com/ios-filled/50/2BD988/forward--v1.png");
  }
  #down:hover img {
    content: url("https://img.icons8.com/ios-filled/50/2BD988/expand-arrow--v1.png");
  }

  .selected {
    border-color: $hover;
    background-color: $hover;
  }
  .selected#up img {
    content: url("https://img.icons8.com/ios-filled/50/1F2024/collapse-arrow.png");
  }
  .selected#up:hover img {
    content: url("https://img.icons8.com/ios-filled/50/1F2024/collapse-arrow.png");
  }
  .selected#left img {
    content: url("https://img.icons8.com/ios-filled/50/1F2024/back.png");
  }
  .selected#left:hover img {
    content: url("https://img.icons8.com/ios-filled/50/1F2024/back.png");
  }
  .selected#right img {
    content: url("https://img.icons8.com/ios-filled/50/1F2024/forward--v1.png");
  }
  .selected#right:hover img {
    content: url("https://img.icons8.com/ios-filled/50/1F2024/forward--v1.png");
  }
  .selected#down img {
    content: url("https://img.icons8.com/ios-filled/50/1F2024/expand-arrow--v1.png");
  }
  .selected#down:hover img {
    content: url("https://img.icons8.com/ios-filled/50/1F2024/expand-arrow--v1.png");
  }

//footer
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
a:hover {
  color: $hover;
}

//responsive
@media screen and (min-width: 500px) {

}

//PC responsive
@media screen and (min-width: 1024px) {
  //body
  .body {
    flex-direction: row;
  }

  //game board
  .game-board {
    width: calc(100vh - 75px);
    height: calc(100vh - 75px);
  }

  //game control

    //help
    .help {
      display: block;
      line-height: 2rem;
    }

    //difficulty
    .difficulty {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      width: 100%;
    }

      //score
      .score {
        flex-direction: column;
        justify-content: space-around;
        margin: 0 10px;
        width: fit-content;
        line-height: 2rem;
      }
      
      .br {
        display: inline;
      }

      //choose
      .choose {
        flex-direction: column;
        width: fit-content;
      }

      .choose button {
        margin: 5px;
      }
}