*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  color: #A4A4A6;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #A4A4A6;
}

button {
  color: #A4A4A6;
  background-color: transparent;
  border: 2px solid #A4A4A6;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
}

button:hover {
  color: #2BD988;
  border-color: #2BD988;
}

body {
  background-color: #1F2024;
}

h1 {
  padding: 1rem;
  width: 100vw;
  color: #2BD988;
  font-size: 2rem;
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100vh - 70px); /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100 - 70px);
}

.game-board {
  display: grid;
  grid-template-rows: repeat(51, 1fr);
  grid-template-columns: repeat(51, 1fr);
  width: 100vw;
  height: 100vw;
  border: 5px solid #F2E30C;
}

.snake-body-part {
  background-color: #F22E2E;
  border: 1px solid #A4A4A6;
}

.point {
  background-color: #F2A20C;
  border: 1px solid #A4A4A6;
}

.game-control {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.help {
  display: none;
}

.score {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
  width: 100vw;
}

.br {
  display: none;
}

.choose {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.choose button {
  padding: 5px 10px;
}

.control {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  margin: 10px 0;
}

.control button {
  width: 50px;
  height: 50px;
}

#up {
  grid-column-start: 2;
}

#left {
  grid-row-start: 2;
}

#play {
  grid-column-start: 2;
}

#down {
  grid-column-start: 2;
}

button img {
  width: 80%;
}

#up:hover img {
  content: url("https://img.icons8.com/ios-filled/50/2BD988/collapse-arrow.png");
}

#left:hover img {
  content: url("https://img.icons8.com/ios-filled/50/2BD988/back.png");
}

#right:hover img {
  content: url("https://img.icons8.com/ios-filled/50/2BD988/forward--v1.png");
}

#down:hover img {
  content: url("https://img.icons8.com/ios-filled/50/2BD988/expand-arrow--v1.png");
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

a:hover {
  color: #2BD988;
}

@media screen and (min-width: 1024px) {
  .body {
    flex-direction: row;
  }
  .game-board {
    width: calc(100vh - 75px);
    height: calc(100vh - 75px);
  }
  .help {
    display: block;
    line-height: 2rem;
  }
  .difficulty {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
  }
  .score {
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10px;
    width: fit-content;
  }
  .br {
    display: inline;
  }
  .choose {
    flex-direction: column;
    width: fit-content;
  }
  .choose button {
    margin: 5px;
  }
}